* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 14px;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.headerNav-left a, .headerNav-right a, .footerNav-left a, .footerNav-right a {
    text-decoration: none;
    color: black;
    font-size: 0.85rem;
}

.header a, .footer a {
    margin: 10px;
}

.logo {
    width: 272px;
}

.searchbox input {
    width: 400px;
    height: 50px;
    margin: 10px 0 20px;
    border-radius: 30px;
    border: 2px solid #ededed;
    background: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png") no-repeat right;
    background-size: 30px;
}

.searchbuttons {
    margin: 15px;
}

button {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #ededed;
}

.footer {
    background-color: #ededed;
}

.message {
    margin: 20px;
}

.message a {
    text-decoration: underline;
}